<%- include('./games/_headers_public.ejs') %>
<div class="row">
  <div class="col-md-3">
  <h1 class="mt-4">Account</h1>
  </div>
  <div class="col-md-3" role="navigation">
    <br>
    <h2>Your bets</h2>
    <ul class="nav nav-pills">
      <li role="presentation" class="nav-item"><a class="nav-link active" href="/account">Open</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link active" href="/account/settled">Settled</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link active" href="/account/leaderboard">Leaderboard</a></li>
    </ul>
  </div>
  </div>
  <div class="row">
  <div class ="col-md-3">
  <h3>Welcome <%= name %></h3>
  <h3>Balance: <%= balance  %></h3>
  <a href="/users/logout" class="btn btn-primary">Logout</a>
  </div>
  <div class="col-md-3">
    <br>
<% userBets.forEach(userBet => {  %>
  <% if(userBet.settled == true) { %>
  <% if(userBet.win == true) { %>
    <h4>£ <%= userBet.stake %> bet on <%= userBet.type %></h4> for the game <a href="/games/<%= userBet.game %>"><%= userBet.game_title %></a>
    <h5 style="color:yellow;background-color:green">WON: £ <%= userBet.winnings%></h5>
    <% } else { %>
      <h4>£ <%= userBet.stake %> bet on <%= userBet.type %></h4> for the game <a href="/games/<%= userBet.game %>"><%= userBet.game_title %></a></h4>
      <h5 style="color:yellow;background-color:red">LOST</h5>
    <% }} %>  
<% }) %>
<h3>Fantasy Bets</h3>
<% userFantasyBets.forEach(userFantasyBet => {  %>
  <% if(userFantasyBet.settled == true) { %>
  <% if(userFantasyBet.win == true) { %>
    <h4>£ <%= userFantasyBet.stake %> bet on <%= userFantasyBet.type %> for the game <a href="/games/<%= userFantasyBet.game %>"><%= userFantasyBet.game_title %></a></h4>
    <h5 style="color:yellow;background-color:green">WON: £ <%= userFantasyBet.winnings %></h5>
    <% } else { %>
      <h4>£ <%= userFantasyBet.stake %> bet on <%= userFantasyBet.type %> for the game <a href="/games/<%= userFantasyBet.game %>"><%= userFantasyBet.game_title %></a></h4>
      <h5 style="color:yellow;background-color:red">LOST</h5>
    <% }} %>  
<% }) %>
</div>
</div>
