<%- include('_headers.ejs') %>
<h2>All Lineups</h2>
<div class="row">
  <div class="col-md-2">
  <h4>Wedge</h4>
  <% wedge.forEach(player => {  %>
    <p> <%= player.name%> </p>
  <% }) %>
  </div>
  <div class="col-md-2">
  <h4>Forbes</h4>
  <% forbes.forEach(player => {  %>
    <p> <%= player.name%> </p>
  <% }) %>
  </div>
  <div class="col-md-2">
  <h4>Tim</h4>
  <% tim.forEach(player => {  %>
      <p> <%= player.name%> </p>
    <% }) %>
  </div>
  <div class="col-md-2">
  <h4>Bowden</h4>
    <% bow.forEach(player => {  %>
      <p> <%= player.name%> </p>
    <% }) %>
  </div>
  <div class="col-md-2">
  <h4>Kite</h4>
  <% kite.forEach(player => {  %>
    <p> <%= player.name%> </p>
  <% }) %>
</div>
</div>
<div class="row">
  <div class="col-md-2">
  <h4>Stark</h4>
  <% stark.forEach(player => {  %>
    <p> <%= player.name%> </p>
  <% }) %>
  </div>
  <div class="col-md-2">
  <h4>Rog</h4>
  <% rog.forEach(player => {  %>
    <p> <%= player.name%> </p>
  <% }) %>
  </div>
  <div class="col-md-2">
  <h4>Coulman</h4>
  <% coulman.forEach(player => {  %>
      <p> <%= player.name%> </p>
    <% }) %>
  </div>
  <div class="col-md-2">
  <h4>Niall</h4>
    <% niall.forEach(player => {  %>
      <p> <%= player.name%> </p>
    <% }) %>
  </div>
  <div class="col-md-2">
  <h4>Cowling</h4>
  <% cowling.forEach(player => {  %>
    <% if(player.captain == true){ %>
      <h6>Captain</h6>
    <% } else if(player.vice_captain == true) { %>
      <h6>Vice Captain</h6>
    <% } %>
    <p> <%= player.name%> </p>
  <% }) %>
</div>
</div>
