<%- include('_headers_public.ejs') %>
<!-- Add search function -->
<div class="row">
  <div class="col-md-3">
    <h2 style="font-size: 40px;">Goalkeeper</h2>
  </div>
  <div class="col-md-3">
    <h2 style="font-size: 40px;">Defenders</h2>
  </div>
  <div class="col-md-3">
    <h2 style="font-size: 40px;">Midfielders</h2>
  </div>
  <div class="col-md-3">
    <h2 style="font-size: 40px;">Forwards</h2>
  </div>
</div>
<div class="row">
<div class="col-md-3">
<% goalkeepers.forEach(player => {  %>
  <p style="font-size: 30px;" class="text-primary"><%= player.name %></p>
  <p style="font-size: 30px;" class="text-primary"><%= player.country %></p>
  <br>
<% }) %>
</div>
<div class="col-md-3">
<% defenders.forEach(player => {  %>
  <p style="font-size: 30px;" class="text-primary"><%= player.name %></p>
  <p style="font-size: 30px;" class="text-primary"><%= player.country %></p>
  <br>
<% }) %>
</div>
<div class="col-md-3">
<% midfielders.forEach(player => {  %>
  <p style="font-size: 30px;" class="text-primary"><%= player.name %></p>
  <p style="font-size: 30px;" class="text-primary"><%= player.country %></p>
  <br>
<% }) %>
</div>
<div class="col-md-3">
<% forwards.forEach(player => {  %>
  <p style="font-size: 30px;" class="text-primary"><%= player.name %></p>
  <p style="font-size: 30px;" class="text-primary"><%= player.country %></p>
  <br>
<% }) %>
</div>
</div>

