<%- include('_headers_public.ejs') %>
<br>
<div class="row">
<form action="/player/lineup_change" method="POST" class="form-inline">
  <div class="col-md-6">
  <h1>To change lineup select a formation</h1>
  </div>
  <div >
  <select class="form-control" name="formation">
    <option value="343">3-4-3</option>
    <option value="352">3-5-2</option>
    <option value="433">4-3-3</option>
    <option value="442">4-4-2</option>
    <option value="451">4-5-1</option>
    <option value="523">5-2-3</option>
    <option value="532">5-3-2</option>
    <option value="541">5-4-1</option>
  </select>
  </div>
  <div>
  <button type="submit" class="btn btn-primary">Change Lineup</button>
  </div>
</form>
</div>
<br><br>
<h1>Current Lineup</h1>
<div class="row">
  <div class="col-md-3">
    <h2 style="font-size: 40px;">Goalkeeper</h2>
  </div>
  <div class="col-md-3">
    <h2 style="font-size: 40px;">Defenders</h2>
  </div>
  <div class="col-md-3">
    <h2 style="font-size: 40px;">Midfielders</h2>
  </div>
  <div class="col-md-3">
    <h2 style="font-size: 40px;">Forwards</h2>
  </div>
</div>
<div class="row">
<div class="col-md-3">
<% goalkeepers.forEach(player => {  %>
  <p style="font-size: 30px;" class="text-primary"><%= player.name %></p>
  <p style="font-size: 30px;" class="text-primary"><%= player.country %></p>
  <br>
<% }) %>
</div>
<div class="col-md-3">
<% defenders.forEach(player => {  %>
  <p style="font-size: 30px;" class="text-primary"><%= player.name %></p>
  <p style="font-size: 30px;" class="text-primary"><%= player.country %></p>
  <br>
<% }) %>
</div>
<div class="col-md-3">
<% midfielders.forEach(player => {  %>
  <p style="font-size: 30px;" class="text-primary"><%= player.name %></p>
  <p style="font-size: 30px;" class="text-primary"><%= player.country %></p>
  <br>
<% }) %>
</div>
<div class="col-md-3">
<% forwards.forEach(player => {  %>
  <!--  NEED if statement here for selecting playing = true -->
  <p style="font-size: 30px;" class="text-primary"><%= player.name %></p>
  <p style="font-size: 30px;" class="text-primary"><%= player.country %></p>
  <br>
<% }) %>
</div>
</div>

<h1>Subs</h1>