<%- include('_headers_public.ejs') %>
<div class="jumbotron big-color">
<div class="row">
<form action="/player/lineup_change" method="POST" class="form-inline">
  <h1 style="color: #E3E3E3">To change lineup select a formation</h1>
  <select class="form-control" name="formation">
    <option value="343">3-4-3</option>
    <option value="352">3-5-2</option>
    <option value="433">4-3-3</option>
    <option value="442">4-4-2</option>
    <option value="451">4-5-1</option>
    <option value="523">5-2-3</option>
    <option value="532">5-3-2</option>
    <option value="541">5-4-1</option>
  </select>
  <button type="submit" class="btn btn-primary" style="font-size: large;">Change Lineup</button>
</form>
</div>
<br><br>
<h1 style="color: #E3CF5B; text-align: center; font-size: 50px;">Current Lineup</h1>
<div class="row">
  <div class="col-md-3">
    <h2 style="font-size: 40px; color: #E3E3E3">Goalkeeper</h2>
  </div>
  <div class="col-md-3">
    <h2 style="font-size: 40px; color: #E3E3E3">Defenders</h2>
  </div>
  <div class="col-md-3">
    <h2 style="font-size: 40px; color: #E3E3E3">Midfielders</h2>
  </div>
  <div class="col-md-3">
    <h2 style="font-size: 40px; color: #E3E3E3">Forwards</h2>
  </div>
</div>
<div class="row">
<div class="col-md-3">
  
<% goalkeepers.forEach(player => {  %>
  <% if(player.playing == true) { %>
  <p style="font-size: 30px; color: #E3E3E3"><%= player.name %>: <%= player.country %></p>
  <% } %>
  <br>
<% }) %>
</div>
<div class="col-md-3">
<% defenders.forEach(player => {  %>
  <% if(player.playing == true){ %>
  <p style="font-size: 30px; color: #E3E3E3"><%= player.name %>: <%= player.country %></p>
  <br>
  <% } %>
<% }) %>
</div>
<div class="col-md-3">
<% midfielders.forEach(player => {  %>
  <% if(player.playing == true){ %>
  <p style="font-size: 30px; color: #E3E3E3"><%= player.name %>: <%= player.country %></p>
  <br>
  <% } %>
<% }) %>
</div>
<div class="col-md-3">
<% forwards.forEach(player => {  %>
  <% if(player.playing == true){ %>
  <p style="font-size: 30px; color: #E3E3E3"><%= player.name %>: <%= player.country %></p>
  <br>
  <% } %>
<% }) %>
</div>
</div>

  <!-- Subs section -->
  <br><br>
  <h1 style="color: #E3CF5B; text-align: center; font-size: 50px;">Subs</h1>
  <div class="row">
    <div class="col-md-3">
      <h2 style="font-size: 40px; color: #E3E3E3">Goalkeeper</h2>
    </div>
    <div class="col-md-3">
      <h2 style="font-size: 40px; color: #E3E3E3">Defenders</h2>
    </div>
    <div class="col-md-3">
      <h2 style="font-size: 40px; color: #E3E3E3">Midfielders</h2>
    </div>
    <div class="col-md-3">
      <h2 style="font-size: 40px; color: #E3E3E3">Forwards</h2>
    </div>
  </div>
  <div class="row">
  <div class="col-md-3">

  <% goalkeepers.forEach(player => {  %>
    <% if(player.playing == false) { %>
    <p style="font-size: 30px; color: #E3E3E3"><%= player.name %>: <%= player.country %></p>
    <% } %>
    <br>
  <% }) %>
  </div>
  <div class="col-md-3">
  <% defenders.forEach(player => {  %>
    <% if(player.playing == false){ %>
    <p style="font-size: 30px; color: #E3E3E3"><%= player.name %>: <%= player.country %></p>
    <br>
    <% } %>
  <% }) %>
  </div>
  <div class="col-md-3">
  <% midfielders.forEach(player => {  %>
    <% if(player.playing == false){ %>
    <p style="font-size: 30px; color: #E3E3E3"><%= player.name %>: <%= player.country %></p>
    <br>
    <% } %>
  <% }) %>
  </div>
  <div class="col-md-3">
  <% forwards.forEach(player => {  %>
    <% if(player.playing == false){ %>
    <p style="font-size: 30px; color: #E3E3E3"><%= player.name %>: <%= player.country %></p>
    <br>
    <% } %>
  <% }) %>
  </div>
  </div>


</div>