<%- include('_headers_public.ejs') %>
<br>
<ul class="nav nav-tabs nav-justified">
  <li class="nav-item"><a class="nav-link-active" style="font-size: xx-large;" href="/games/list">Games</a></li>
  <li class="nav-item"><a class="nav-link" style="font-size: xx-large;" href="/fantasy/list/">Fantasy games</a></li>
</ul>
<br>
<div class="row">
<div class="col-md-3 offset-2">
  <u style="font-size: 45px;" class="text-primary">Upcoming</u><br>
  <% games.forEach(game => {  %>
    <%if(game.completed == true) { %>
      <%  game.started = true %>
    <% } else { %>
      <a style="font-size: 40px;"   href="/games/<%= game.id %>"><%= game.team_a %> vs <%= game.team_b %></a>
      <br><br>
    <% } %>
    <% }) %>
</div>
<div class="col-md-3 offset-2">
  <u style="font-size: 45px;" class="text-primary">Completed</u><br>
<% completedGames.forEach(game => {  %>
    <%  game.started = true %>
    <a style="font-size: 40px;" class="text-default"  href="/games/<%= game.id %>"><%= game.team_a %> vs <%= game.team_b %></a>
    <br><br>
  <% }) %>
</div>
</div>