<%- include('../headers/_betting.ejs') %>
<div class="jumbotron big-color">
<br>
<h1 style="color: #E3CF5B; text-align: center; font-size: 60px;"> <%= game.team_a %> vs <%= game.team_b %></h1>
<div class="row row-no-gutters">
  <div class="col-md-4">
    <h2 style="color: #E3E3E3; text-align: center;">Match odds</h2>

    <!-- Main line odds -->

    <table class="table table-striped table-condensed" style="color: #E3E3E3; font-size: x-large;">
  <tbody>
  <tr>
    <th style="font-size: x-large;">Match Winner</th>
    <th style="font-size: x-large;">Odds</th>
  </tr>
  <tr>
    <td><%= game.team_a %></td>
    <td style="padding-left: 10%;"><%= game.odds_a %></td>
  </tr>
  <tr>
    <td>Draw</td>
    <td style="padding-left: 10%;"><%= game.odds_draw %> %></td>
  </tr>
  <tr>
    <td><%= game.team_b %></td>
    <td style="padding-left: 10%;"><%= game.odds_b %></td>
  </tr>
</table>
<br>

<!-- Total goals table -->

<h2 style="color: #E3E3E3; text-align: center;">Total goals </h2>
<table class="table table-striped table-condensed" style="color: #E3E3E3; font-size: x-large;">
  <tr>
    <th style="font-size: x-large; text-align: center;">Over <%= game.ougoals %></th>
    <th style="font-size: x-large; text-align: center;">Under <%= game.ougoals %></th>
  </tr>
    <td style="text-align: center;"><%= game.odds_ogoals %></td>
    <td style="text-align: center;"><%= game.odds_ugoals %></td>
  </tr>
  </tbody>
</table>
</div>
<!-- New bet div -->
<div class="col-md-5">
  <h2 style="color: #E3E3E3; padding-left: 10%">Main Markets</h2>
  <form action="/games/list" method="POST" class="form-inline">
    <div class="form-group">
      <label style="font-size: x-large; color: #E3E3E3" for="stake">Stake</label>
      <input style="font-size: large;" type="number" step="0.01" min="1" max="<%= users.balance%>" class="form-control" name="stake"  placeholder="Stake">
    </div>
    <select class="form-control" name="bettype" style="background-color: #799DB1; color: #E3E3E3; font-size: large;">
      <% for(var i=0; i < bettype.length; i++) { %>
         <option value="<%= bettype[i] %>"><%= bettype[i] %></option>
      <% } %>
      </select>
    <div class="form-group">
      <input type="text" class="form-control" name="gameid" value="<%= game.id %>" placeholder="<%= game.id %>" hidden>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="game_title" value="<%= game.team_a %> vs <%= game.team_b %>" placeholder="<%= game.id %>" hidden> </div>
    <button type="submit" class="btn btn-info " style="font-size: large;">Bet</button>
  </form>
  <br>
  <!-- MOTM bet form -->
  <h2 style="color: #E3E3E3; padding-left: 10%;">Man of the Match</h2>
 <form action="/games/list" method="POST" class="form-inline">
 <div class="form-group">
   <label style="font-size: x-large; color: #E3E3E3" for="stake">Stake</label>
   <input style="font-size: large;" type="number" step="0.01" min="1" max="<%= users.balance%>" class="form-control" name="stake"  placeholder="Stake">
 </div>
 <select class="form-control" name="motm" style="background-color: #799DB1; color: #E3E3E3; font-size: large;">
   <% for(var i=0; i < players.length; i++) { %>
      <option value="<%= players[i].name %>" ><%= players[i].name %></option>
   <% } %>
 </select>
 <div class="form-group">
   <input type="text" class="form-control" name="gameid" value="<%= game.id %>" placeholder="<%= game.id %>" hidden>
   </div>
   <div class="form-group">
     <input type="text" class="form-control" name="game_title" value="<%= game.team_a %> vs <%= game.team_b %>" placeholder="<%= game.id %>" hidden> </div>
 <button type="submit" class="btn btn-info" style="font-size: large;">Bet</button>
</form>
<br>

<!-- First goal scorer form -->

 <h2 style="color: #E3E3E3; padding-left: 10%;">First goal scorer</h2>
<form action="/games/list" method="POST" class="form-inline">
 <div class="form-group">
   <label style="font-size: x-large; color: #E3E3E3" for="stake">Stake</label>
   <input style="font-size: large;" type="number" step="0.01" min="1" max="<%= users.balance%>" class="form-control" name="stake"  placeholder="Stake">
 </div>
 <select class="form-control" name="fgoal" style="background-color: #799DB1; color: #E3E3E3; font-size: large;">
   <% for(var i=0; i < players.length; i++) { %>
      <option value="<%= players[i].name %>" ><%= players[i].name %></option>
   <% } %>
 </select>
 <div class="form-group">
   <input type="text" class="form-control" name="gameid" value="<%= game.id %>" placeholder="<%= game.id %>" hidden>
   </div>
   <div class="form-group">
     <input type="text" class="form-control" name="game_title" value="<%= game.team_a %> vs <%= game.team_b %>" placeholder="<%= game.id %>" hidden> </div>
 <button type="submit" class="btn btn-info" style="font-size: large;">Bet</button>
</form>
<br>

<!-- Correct score form -->
<h2 style="color: #E3E3E3; padding-left: 10%;">Correct Score</h2>
<form action="/games/list" method="POST" class="form-inline">
  <div class="form-group">
    <label style="font-size: x-large; color: #E3E3E3" for="stake">Stake</label>
    <input style="font-size: large;" type="number" step="0.01" min="1" max="<%= users.balance%>" class="form-control" name="stake"  placeholder="Stake">
  </div>
  <select class="form-control" name="c_score" id="c_score" style="background-color: #799DB1; color: #E3E3E3; font-size: large;">
    <% for(var i=3; i < scores.length; i++) { %>
       <option value="<%= scores[i] %>" ><%= scores[i] %></option>
    <% } %>
  </select>
  <div class="form-group">
    <input type="text" class="form-control" name="gameid" value="<%= game.id %>" placeholder="<%= game.id %>" hidden>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="game_title" value="<%= game.team_a %> vs <%= game.team_b %>" placeholder="<%= game.id %>" hidden> </div>
      <div id="<%= scores[3] %>" class="vis">&ensp;Odds: <%= scores_odds[3] %>&ensp;</div>
      <% for(var i=3; i < scores.length; i++) { %>
        <div id="<%= scores[i] %>" class="inv" style=>&ensp;Odds: <%= scores_odds[i] %>&ensp;</div>
     <% } %>
  <button type="submit" class="btn btn-info" style="font-size: large;">Bet</button>
 </form>
</div>
<div class="col-md-3">
  <h2 style="color: #E3E3E3;">Balance: £<%= users.balance %> </h2>
  <br><br>
<h2 style="color: #E3E3E3;">Your bets on this game  </h2>
<% userBets.forEach(userBet => {  %>
  <p style="font-size: large;">£ <%= userBet.stake %> bet on <%= userBet.type %>. If it wins you will win: £ <%= userBet.winnings %></p> 
<% }) %>
</div>

</div>

<!-- MOTM & First goal scorer odds table -->

<h1 style="color: #E3E3E3; text-align: center"><abbr title="Man of the Match">MOTM</abbr> & first goal odds</h1>
<div class="row">
  <div class="col-md-4">
  <table class="table table-condensed table-striped "style="color: #E3E3E3; font-size: x-large;">
    <tbody>
    <tr>
      <th style="font-size: large;">Player</th>
      <th style="font-size: large;">MOTM odds</th>
      <th style="font-size: large;">First goal odds</th>
    </tr>
    <% for(var i=0; i < 8; i++) { %>
      <tr>
        <td><%= players[i].name %></td>
        <td style="text-align: center;"><%= players[i].mvp_odds %></td>
        <td style="text-align: center;"><%= players[i].fgoal_odds %></td>
      </tr>
    <% } %>
  </tbody>
  </table>
  </div>
  <div class="col-md-4">
    <table class="table table-condensed table-striped "style="color: #E3E3E3; font-size: x-large;">
      <tbody>
      <tr>
        <th style="font-size: large;">Player</th>
        <th style="font-size: large;">MOTM odds</th>
        <th style="font-size: large;">First goal odds</th>
      </tr>
      <% for(var i=8; i < 15; i++) { %>
        <tr>
          <td><%= players[i].name %></td>
          <td style="text-align: center;"><%= players[i].mvp_odds %></td>
          <td style="text-align: center;"><%= players[i].fgoal_odds %></td>
        </tr>
      <% } %>
    </tbody>
    </table>
    </div>
    <div class="col-md-4">
      <table class="table table-condensed table-striped "style="color: #E3E3E3; font-size: x-large;">
        <tbody>
        <tr>
          <th style="font-size: large;">Player</th>
          <th style="font-size: large;">MOTM odds</th>
          <th style="font-size: large;">First goal odds</th>
        </tr>
        <% for(var i=15; i < players.length; i++) { %>
          <tr>
            <td><%= players[i].name %></td>
            <td style="text-align: center;"><%= players[i].mvp_odds %></td>
            <td style="text-align: center;"><%= players[i].fgoal_odds %></td>
          </tr>
        <% } %>
      </tbody>
      </table>
      </div>

</div>
</div>
<%- include('_messages') %>

<!-- Script for showing correct score odds when option selected -->
<script>
  document
      .getElementById('c_score')
      .addEventListener('change', function () {
          'use strict';
          var vis = document.querySelector('.vis'),   
              target = document.getElementById(this.value);
          if (vis !== null) {
              vis.className = 'inv';
              console.log('inv')
          }
          if (target !== null ) {
              target.className = 'vis';
              console.log('vis')
          }
  });

</script>