<%- include('_headers_public.ejs') %>
<div class="jumbotron big-color">
<br>
<h1 style="color: #E3CF5B; text-align: center; font-size: 60px;"> <%= game.team_a %> vs <%= game.team_b %></h1>
<div class="row row-no-gutters">
  <div class="col-md-4">
    <h2 style="color: #E3E3E3; text-align: center;">Match odds</h2>
<table class="table table-striped table-condensed" style="color: #E3E3E3; font-size: x-large;">
  <tbody>
  <tr>
    <th style="font-size: x-large;">Moneyline</th>
    <th style="font-size: x-large;">Odds</th>
  </tr>
  <tr>
    <td><%= game.team_a %></td>
    <td style="padding-left: 10%;"><%= game.odds_a %></td>
  </tr>
  <tr>
    <td>Draw</td>
    <td style="padding-left: 10%;"><%= game.odds_draw %> %></td>
  </tr>
  <tr>
    <td><%= game.team_b %></td>
    <td style="padding-left: 10%;"><%= game.odds_b %></td>
  </tr>
</table>
<br>
<h2 style="color: #E3E3E3; text-align: center;">Total goals <%= game.ougoals %></h2>
<table class="table table-striped table-condensed" style="color: #E3E3E3; font-size: x-large;">
  <tr>
    <th style="font-size: x-large; text-align: center;">Over</th>
    <th style="font-size: x-large; text-align: center;">Under</th>
  </tr>
    <td style="text-align: center;"><%= game.odds_ogoals %></td>
    <td style="text-align: center;"><%= game.odds_ugoals %></td>
  </tr>
  </tbody>
</table>
</div>
<div class="col-md-4"></div>
<div class="col-md-4">
  <h2 style="color: #E3E3E3;">Balance: £<%= users.balance %> </h2>
  <br><br>
<h2 style="color: #E3E3E3;">Your bets on this game  </h2>
<% userBets.forEach(userBet => {  %>
  <p style="font-size: large;">£ <%= userBet.stake %> bet on <%= userBet.type %>. If it wins you will win: £ <%= userBet.winnings %></p> 
<% }) %>
</div>

</div>


<h1 style="color: #E3E3E3; text-align: center"><abbr title="Man of the Match">MOTM</abbr> & first goal odds</h1>
<div class="row">
  <div class="col-md-4">
  <table class="table table-condensed table-striped "style="color: #E3E3E3; font-size: x-large;">
    <tbody>
    <tr>
      <th style="font-size: large;">Player</th>
      <th style="font-size: large;">MOTM odds</th>
      <th style="font-size: large;">First goal odds</th>
    </tr>
    <% for(var i=0; i < 8; i++) { %>
      <tr>
        <td><%= players[i].name %></td>
        <td style="text-align: center;"><%= players[i].mvp_odds %></td>
        <td style="text-align: center;"><%= players[i].fgoal_odds %></td>
      </tr>
    <% } %>
  </tbody>
  </table>
  </div>
  <div class="col-md-4">
    <table class="table table-condensed table-striped "style="color: #E3E3E3; font-size: x-large;">
      <tbody>
      <tr>
        <th style="font-size: large;">Player</th>
        <th style="font-size: large;">MOTM odds</th>
        <th style="font-size: large;">First goal odds</th>
      </tr>
      <% for(var i=8; i < 15; i++) { %>
        <tr>
          <td><%= players[i].name %></td>
          <td style="text-align: center;"><%= players[i].mvp_odds %></td>
          <td style="text-align: center;"><%= players[i].fgoal_odds %></td>
        </tr>
      <% } %>
    </tbody>
    </table>
    </div>
    <div class="col-md-4">
      <table class="table table-condensed table-striped "style="color: #E3E3E3; font-size: x-large;">
        <tbody>
        <tr>
          <th style="font-size: large;">Player</th>
          <th style="font-size: large;">MOTM odds</th>
          <th style="font-size: large;">First goal odds</th>
        </tr>
        <% for(var i=15; i < players.length; i++) { %>
          <tr>
            <td><%= players[i].name %></td>
            <td style="text-align: center;"><%= players[i].mvp_odds %></td>
            <td style="text-align: center;"><%= players[i].fgoal_odds %></td>
          </tr>
        <% } %>
      </tbody>
      </table>
      </div>

</div>
</div>
<%- include('_messages') %>